.version.index /* version checker */
{
	color: #00001B;
	background-color: #7C5BF1;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/latobold.eot');
	src: local('â˜º'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

#page
{
	border-color: #000000;
	border-width: 0px;
	background-image: none;
	z-index: 1;
	padding-top: 97px;
	margin-left: auto;
	background-color: transparent;
	margin-right: auto;
	width: 100%;
}

#u1285-4
{
	line-height: 43px;
	color: #001430;
	font-family: '__Lato_5';
	font-weight: 700;
	text-align: center;
	position: relative;
	font-size: 36px;
	z-index: 3;
	background-color: transparent;
	min-height: 54px;
}

#u2665-4
{
	color: #7F7F7F;
	font-family: '__Lato_5';
	font-weight: 700;
	text-align: center;
	position: relative;
	left: 0px;
	font-size: 28px;
	z-index: 31;
	line-height: 34px;
	background-color: transparent;
	min-height: 54px;
}

#u2597-4
{
	line-height: 24px;
	z-index: 15;
	text-align: right;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	width: 63px;
	min-height: 21px;
	font-size: 20px;
}

.tuda
{
	border-color: #000000;
	background-color: #F15A24;
	border-width: 0px;
}

#u2597-4:hover
{
	margin-right: -10000px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	width: 63px;
	min-height: 21px;
}

#u2598-3
{
	line-height: 24px;
	color: #464742;
	text-align: center;
	position: relative;
	font-size: 20px;
	z-index: 19;
	margin-left: 50%;
	margin-right: -10000px;
	min-height: 21px;
}

.holder
{
	border-color: #000000;
	background-color: transparent;
	border-width: 0px;
}

#u2596-4
{
	z-index: 11;
	font-size: 20px;
	position: relative;
	line-height: 24px;
	background-color: transparent;
	margin-right: -10000px;
	width: 76px;
	min-height: 21px;
}

.suda
{
	border-color: #000000;
	background-color: #29ABE2;
	border-width: 0px;
}

#u2596-4:hover
{
	margin-right: -10000px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	width: 76px;
	min-height: 21px;
}

#u2599
{
	margin-left: 50%;
	z-index: 22;
	position: relative;
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
}

#u2601-4
{
	z-index: 27;
	min-height: 21px;
	text-align: right;
	line-height: 24px;
	background-color: transparent;
	margin-right: -10000px;
	width: 91px;
	font-size: 20px;
	position: relative;
}

#u2601-4:hover
{
	margin-right: -10000px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	width: 91px;
	min-height: 21px;
}

#u2600-4
{
	line-height: 24px;
	z-index: 23;
	min-height: 21px;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	width: 109px;
	font-size: 20px;
}

#u2600-4:hover
{
	margin-right: -10000px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	width: 109px;
	min-height: 21px;
}

#u2597-4:hover p,#u2597-4:hover span,#u2596-4:hover p,#u2596-4:hover span,#u2601-4:hover p,#u2601-4:hover span,#u2600-4:hover p,#u2600-4:hover span
{
	text-decoration: none;
	color: #FF0000;
	visibility: inherit;
}

#u2597,#u2596,#u2601,#u2600
{
	text-decoration: underline;
}

#pu2597-4,#pu2601-4,#pu2968
{
	width: 100%;
}

#u2968
{
	background-color: #F2F4FF;
	z-index: 2;
}

#u2968_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u2116-4
{
	color: #7F7F7F;
	font-family: '__Lato_5';
	font-weight: 700;
	text-align: center;
	position: relative;
	font-size: 28px;
	z-index: 7;
	line-height: 34px;
	background-color: transparent;
	margin-right: -10000px;
}

#u2968-bw
{
	z-index: 2;
}

#u2892
{
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
	z-index: 35;
	min-height: 261px;
}

#u2892-bw
{
	z-index: 35;
	min-height: 261px;
}

#buttonu2893
{
	left: 20px;
	z-index: 36;
	position: relative;
	margin-right: -10000px;
	width: 40px;
	padding-bottom: 10px;
}

#buttonu2893:hover
{
	margin-right: -10000px;
	margin-left: 0px;
	background-color: #FF0000;
	margin-bottom: 0px;
	width: 40px;
	min-height: 0px;
}

#buttonu2893.ButtonSelected
{
	margin-right: -10000px;
	margin-left: 0px;
	background-color: #000000;
	margin-bottom: 0px;
	width: 40px;
	min-height: 0px;
}

#u2894
{
	left: 10px;
	z-index: 37;
	margin-top: 10px;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	width: 20px;
}

#buttonu2896
{
	transform: matrix(-1,0,0,-1,40,40);
	left: -60px;
	padding-bottom: 10px;
	z-index: 39;
	-webkit-transform: matrix(-1,0,0,-1,40,40);
	margin-left: 100%;
	margin-right: -10000px;
	-ms-transform: matrix(-1,0,0,-1,40,40);
	width: 40px;
	position: relative;
}

.tuda1,.suda1
{
	-webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	transition-delay: 0s;
	border-color: #000000;
	transition-duration: 0.5s;
	background-color: #000000;
	border-width: 0px;
	transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
	border-radius: 25px;
}

#buttonu2896:hover
{
	left: -60px;
	margin-right: -10000px;
	margin-left: 100%;
	background-color: #FF0000;
	margin-bottom: 0px;
	width: 40px;
	min-height: 0px;
}

#buttonu2896.ButtonSelected
{
	left: -60px;
	margin-right: -10000px;
	margin-left: 100%;
	background-color: #000000;
	margin-bottom: 0px;
	width: 40px;
	min-height: 0px;
}

#u2897
{
	left: 10px;
	z-index: 40;
	margin-top: 10px;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	width: 20px;
}

#buttonu2893:hover #u2894,#buttonu2893.ButtonSelected #u2894,#buttonu2896:hover #u2897,#buttonu2896.ButtonSelected #u2897
{
	width: 20px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 841px;
		padding-bottom: 62px;
		max-width: 1280px;
	}

	#u1285-4
	{
		width: 96.88%;
		margin-left: 1.57%;
		left: 0px;
	}

	#u2665-4
	{
		margin-top: 10px;
		width: 96.88%;
		margin-left: 1.57%;
	}

	#pu2597-4
	{
		margin-top: 46px;
	}

	#u2597-4
	{
		margin-left: 50%;
		left: -128px;
	}

	#u2597-4:hover
	{
		margin-left: 50%;
		left: -128px;
	}

	#u2598-3
	{
		width: 117px;
		margin-top: 1px;
		left: -59px;
	}

	#u2596-4
	{
		margin-left: 50%;
		left: 63px;
	}

	#u2596-4:hover
	{
		margin-left: 50%;
		left: 63px;
	}

	#u2599
	{
		width: 960px;
		min-height: 2372px;
		color: #FFFFFF;
		margin-top: 43px;
		left: -480px;
	}

	#pu2601-4
	{
		margin-top: 44px;
	}

	#u2601-4
	{
		margin-left: 50%;
		left: -298px;
	}

	#u2601-4:hover
	{
		margin-left: 50%;
		left: -298px;
	}

	#u2600-4
	{
		margin-left: 50%;
		left: 188px;
	}

	#u2600-4:hover
	{
		margin-left: 50%;
		left: 188px;
	}

	#pu2968
	{
		margin-top: 64px;
	}

	#u2968
	{
		min-height: 118px;
		padding-bottom: 386px;
	}

	#u2968_align_to_page
	{
		max-width: 1280px;
	}

	#u2116-4
	{
		min-height: 51px;
		margin-top: 67px;
		width: 96.88%;
		margin-left: 1.57%;
		left: 0px;
	}

	#u2968-bw
	{
		min-height: 118px;
	}

	#u2892-bw
	{
		margin-top: 151px;
	}

	#buttonu2893
	{
		margin-top: 237px;
	}

	#buttonu2893:hover
	{
		margin-top: 237px;
	}

	#buttonu2893.ButtonSelected,#buttonu2896
	{
		margin-top: 237px;
	}

	#buttonu2896:hover
	{
		margin-top: 237px;
	}

	#buttonu2896.ButtonSelected
	{
		margin-top: 237px;
	}

}

@media (min-width: 841px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 1341px;
		padding-bottom: 62px;
		max-width: 960px;
	}

	#u1285-4
	{
		width: 96.88%;
		margin-left: 1.57%;
		left: 0px;
	}

	#u2665-4
	{
		margin-top: 7px;
		width: 96.88%;
		margin-left: 1.57%;
	}

	#u2597-4
	{
		margin-left: 50%;
		left: -130px;
	}

	#u2597-4:hover
	{
		margin-left: 50%;
		left: -130px;
	}

	#u2598-3
	{
		width: 117px;
		margin-top: 1px;
		left: -61px;
	}

	#u2596-4
	{
		margin-left: 50%;
		left: 61px;
	}

	#u2596-4:hover
	{
		margin-left: 50%;
		left: 61px;
	}

	#u2599
	{
		width: 920px;
		min-height: 2360px;
		margin-top: 54px;
		left: -460px;
	}

	#pu2597-4,#pu2601-4
	{
		margin-top: 29px;
	}

	#u2601-4
	{
		margin-left: 50%;
		left: -298px;
	}

	#u2601-4:hover
	{
		margin-left: 50%;
		left: -298px;
	}

	#u2600-4
	{
		margin-left: 50%;
		left: 188px;
	}

	#u2600-4:hover
	{
		margin-left: 50%;
		left: 188px;
	}

	#pu2968
	{
		margin-top: 68px;
	}

	#u2968
	{
		min-height: 105px;
		padding-bottom: 399px;
	}

	#u2968_align_to_page
	{
		max-width: 960px;
	}

	#u2116-4
	{
		min-height: 54px;
		margin-top: 51px;
		width: 96.88%;
		margin-left: 1.57%;
		left: 0px;
	}

	#u2968-bw
	{
		min-height: 105px;
	}

	#u2892-bw
	{
		margin-top: 151px;
	}

	#buttonu2893
	{
		margin-top: 237px;
	}

	#buttonu2893:hover
	{
		margin-top: 237px;
	}

	#buttonu2893.ButtonSelected,#buttonu2896
	{
		margin-top: 237px;
	}

	#buttonu2896:hover
	{
		margin-top: 237px;
	}

	#buttonu2896.ButtonSelected
	{
		margin-top: 237px;
	}

}

@media (min-width: 601px) and (max-width: 840px)
{
	#muse_css_mq
	{
		background-color: #000348;
	}

	#bp_840.active
	{
		display: block;
	}

	#page
	{
		min-height: 1341px;
		padding-bottom: 62px;
		max-width: 840px;
	}

	#u1285-4
	{
		width: 96.91%;
		margin-left: 1.55%;
		left: 0px;
	}

	#u2665-4
	{
		margin-top: 8px;
		width: 96.91%;
		margin-left: 1.55%;
	}

	#pu2597-4
	{
		margin-top: 31px;
	}

	#u2597-4
	{
		margin-left: 50%;
		left: -134px;
	}

	#u2597-4:hover
	{
		margin-left: 50%;
		left: -134px;
	}

	#u2598-3
	{
		width: 117px;
		margin-top: 2px;
		left: -65px;
	}

	#u2596-4
	{
		margin-left: 50%;
		left: 57px;
	}

	#u2596-4:hover
	{
		margin-left: 50%;
		left: 57px;
	}

	#u2599
	{
		width: 800px;
		min-height: 3200px;
		margin-top: 37px;
		left: -400px;
	}

	#pu2601-4
	{
		margin-top: 23px;
	}

	#u2601-4
	{
		margin-left: 50%;
		left: -298px;
	}

	#u2601-4:hover
	{
		margin-left: 50%;
		left: -298px;
	}

	#u2600-4
	{
		margin-left: 50%;
		left: 189px;
	}

	#u2600-4:hover
	{
		margin-left: 50%;
		left: 189px;
	}

	#pu2968
	{
		margin-top: 51px;
	}

	#u2968
	{
		min-height: 105px;
		padding-bottom: 399px;
	}

	#u2968_align_to_page
	{
		max-width: 840px;
	}

	#u2116-4
	{
		min-height: 54px;
		margin-top: 51px;
		width: 96.91%;
		margin-left: 1.55%;
		left: 0px;
	}

	#u2968-bw
	{
		min-height: 105px;
	}

	#u2892-bw
	{
		margin-top: 151px;
	}

	#buttonu2893
	{
		margin-top: 237px;
	}

	#buttonu2893:hover
	{
		margin-top: 237px;
	}

	#buttonu2893.ButtonSelected,#buttonu2896
	{
		margin-top: 237px;
	}

	#buttonu2896:hover
	{
		margin-top: 237px;
	}

	#buttonu2896.ButtonSelected
	{
		margin-top: 237px;
	}

}

@media (min-width: 481px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 1340.6500000000005px;
		padding-bottom: 62.349999999999454px;
		max-width: 600px;
	}

	#u1285-4
	{
		width: 96.84%;
		margin-left: 1.59%;
		left: 0px;
	}

	#u2665-4
	{
		margin-top: 5px;
		width: 93.5%;
		margin-left: 3.25%;
	}

	#pu2597-4
	{
		margin-top: 20px;
	}

	#u2597-4
	{
		margin-left: 50%;
		left: -142px;
	}

	#u2597-4:hover
	{
		margin-left: 50%;
		left: -142px;
	}

	#u2598-3
	{
		width: 137px;
		left: -69px;
	}

	#u2596-4
	{
		margin-left: 50%;
		left: 77px;
	}

	#u2596-4:hover
	{
		margin-left: 50%;
		left: 77px;
	}

	#u2599
	{
		width: 600px;
		min-height: 3116px;
		margin-top: 34px;
		left: -300px;
	}

	#pu2601-4
	{
		margin-top: 34px;
	}

	#u2601-4
	{
		left: 20px;
	}

	#u2601-4:hover
	{
		margin-left: 0px;
	}

	#u2600-4
	{
		margin-left: 100%;
		left: -129px;
	}

	#u2600-4:hover
	{
		margin-left: 100%;
		left: -129px;
	}

	#pu2968
	{
		margin-top: 43px;
	}

	#u2968
	{
		min-height: 119px;
		padding-bottom: 339px;
	}

	#u2968_align_to_page
	{
		max-width: 600px;
	}

	#u2116-4
	{
		min-height: 54px;
		margin-top: 51px;
		width: 96.84%;
		margin-left: 1.59%;
		left: 0px;
	}

	#u2968-bw
	{
		min-height: 119px;
	}

	#u2892-bw
	{
		margin-top: 152px;
	}

	#buttonu2893
	{
		margin-top: 238px;
	}

	#buttonu2893:hover
	{
		margin-top: 238px;
	}

	#buttonu2893.ButtonSelected,#buttonu2896
	{
		margin-top: 238px;
	}

	#buttonu2896:hover
	{
		margin-top: 238px;
	}

	#buttonu2896.ButtonSelected
	{
		margin-top: 238px;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 1340.3500000000013px;
		padding-bottom: 62.64999999999873px;
		max-width: 480px;
	}

	#u1285-4
	{
		width: 96.88%;
		margin-left: 1.57%;
		left: -1px;
	}

	#u2665-4
	{
		margin-top: 5px;
		width: 93.55%;
		margin-left: 3.23%;
	}

	#pu2597-4
	{
		margin-top: 20px;
	}

	#u2597-4
	{
		left: 20px;
	}

	#u2598-3
	{
		width: 223px;
		margin-top: 2px;
		left: -112px;
	}

	#u2596-4
	{
		margin-left: 100%;
		left: -96px;
	}

	#u2596-4:hover
	{
		margin-left: 100%;
		left: -96px;
	}

	#u2599
	{
		width: 440px;
		min-height: 6137px;
		margin-top: 33px;
		left: -220px;
	}

	#pu2601-4
	{
		margin-top: 28px;
	}

	#u2601-4
	{
		left: 20px;
	}

	#u2597-4:hover,#u2601-4:hover
	{
		margin-left: 0px;
	}

	#u2600-4
	{
		margin-left: 100%;
		left: -129px;
	}

	#u2600-4:hover
	{
		margin-left: 100%;
		left: -129px;
	}

	#pu2968
	{
		margin-top: 51px;
	}

	#u2968
	{
		min-height: 119px;
		padding-bottom: 293px;
	}

	#u2968_align_to_page
	{
		max-width: 480px;
	}

	#u2116-4
	{
		min-height: 54px;
		margin-top: 51px;
		width: 96.88%;
		margin-left: 1.57%;
		left: -1px;
	}

	#u2968-bw
	{
		min-height: 119px;
	}

	#u2892-bw
	{
		margin-top: 152px;
	}

	#buttonu2893
	{
		margin-top: 238px;
	}

	#buttonu2893:hover
	{
		margin-top: 238px;
	}

	#buttonu2893.ButtonSelected,#buttonu2896
	{
		margin-top: 238px;
	}

	#buttonu2896:hover
	{
		margin-top: 238px;
	}

	#buttonu2896.ButtonSelected
	{
		margin-top: 238px;
	}

	body
	{
		min-width: 320px;
	}
}

